.loading {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: #3145674f;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 24px;
}